.nav {
    grid-area: n;
    background: greenyellow;
    padding: 20px;
  }
  
.item a {
    font-size: 22px;
    margin: 20px;
    color: #ffffff;
}

.item a.active {
  color: rgb(255, 214, 110);
}