.greyWrapper {
    padding: 20px;
}

.newsWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.newsItem {
    width: 30%;
    padding: 10px;
    background: lavender;
    border-radius: 5px;
    margin-bottom: 20px;
}

.newsDate {
    text-align: right;
}
